.dash-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(182, 7, 7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  color: white;
  z-index: 1;
}

.dash-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64px;
  padding: 6px 1rem 6px 1rem;
}

.dash-content {
  display: flex;
  gap: 12px;
}

.dash-content p {
  padding: 6px;
  cursor: pointer;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.o-heading {
  text-align: center;
  color: rgb(255, 49, 49);
}

.o-heading :first-child {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  text-decoration: underline red;
  text-underline-offset: 10px;
}

.o-heading :nth-child(2) {
  font-size: 14px;
  font-weight: 300;
  color: rgb(82, 82, 82);
}

.o-text {
  width: 50%;
  font-size: x-small;
}

.enquire {
  width: 50%;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  text-align: center;
  color: blue;
}

.dash-img {
  width: 50%;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.o-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-head {
  color: rgb(68, 68, 68);
  font-size: large;
  font-weight: 400;
}

.p-subhead {
  color: rgb(122, 122, 122);
  font-size: small;
  font-weight: 400;
}

.o-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.work-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.head-tiltle {
  padding: 4px 12px 4px 12px;
  background-color: rgb(182, 7, 7);
  color: white;
  cursor: pointer;
}

.regular {
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  color: gray;
}

.work-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-img {
  width: 100%;
}

.a-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.a-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
}

.t-title {
  font-size: x-large;
  color: rgb(56, 56, 56);
}

.team-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.team-img {
  width: 100%;
}

.blog{
    margin-top: 4rem;
}

.blog-grid {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.blog-contain{
    display: flex;
}

.blog-left{
    width: 100%;
    position: relative;
}

.blog-img{
    width: 100%;
    height: 100%;
}

.b-date{
    position: absolute;
    top: 8px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 7, 7);
    color: white;
    padding: 1rem;
    font-size: small;
    line-height: 1;
    text-align: center;
}

.date-head{
    font-size: 56px;
}

.date-subhead{
    font-size: large;
}

.blog-info{
    background-color: rgb(233, 233, 233);
    padding: 1rem;
}

.blog-head{
    font-size: x-large;
    color: rgb(56, 56, 56);
}

.blog-subhead{
    font-size: medium;
    color: rgb(82, 82, 82);
}

.read-btn{
    width: 28%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(182, 7, 7);
    color: white;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;    
}

.contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.contact-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact-title{
    font-size: x-large;
    color: rgb(56, 56, 56);
}

.contact-div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: gray;
}

.contact-field{
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.area-size{
    margin-top: 4px;
    min-height: 94px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.contact-submit{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(182, 7, 7);
    color: white;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;    
}

.dash-footer{
    background-color: rgb(182, 7, 7);
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.foot-img-contain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-img{
    width: 36%;
}

.foot-info{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.foot-info-head{
    font-size: large;
    font-weight: 500;
    text-decoration: underline white;
    text-underline-offset: 6px;
}

.foot-info-subhead{
    font-size: small;
}