.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    width: 16%;
    display: flex;
}

.details-logo{
    width: 40%;
    flex: 1;
}

.nav-text{
    font-size: large;
    font-weight: 600;
    color: rgb(83, 83, 83);
}

.details-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-heading{
    font-size: 28px;
    color: blue;
    font-weight: 600;
    line-height: 0;
}

.d-sub{
    font-size: small;
    color: rgba(128, 128, 128, 0.774);
}

.d-images{
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

.left{
    flex: 1;
    background-position: center;
    background-size: cover;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.d-img{
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
}

.d-about{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about{
    color: rgb(1, 1, 68);
    font-weight: 500;
}

.about-sub{
    font-size: x-small;
    color: gray;
}

.about-right{
    width: 30%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 15px;
}

.about-container{
    width: 60%;
    margin: 0 auto;
    padding: 8px 0 8px 0;
}

.sub-amount{
    font-size: x-large;
    font-weight: 200;
    color: gray;
}

.amount{
    color: rgb(20, 148, 148);
    font-weight: 600;
}

.book-btn{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.option{
    width: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.option-icons{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.option-name{
    font-size: x-small;
    color: gray;
}

.opt-no{
    color: rgb(13, 13, 161);
}

.all-pics{
    display: flex;
}

.pic-about{
    color: rgba(13, 13, 153, 0.884);
    font-size: 14px;
}

.pic{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.img-size{
    width: 90%;
}

.img-box{
    position: relative;
}

.popular{
    position: absolute;
    right: 10%;
    top: 0px;
    background-color: rgb(62, 62, 247);
    border-start-end-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pop-text{
    font-size: 12px;
    color: white;
    padding: 1rem;
}
