body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.main-header{
  background-image: url('/assets/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background{
  background-color: rgba(0, 0, 0, 0.486);
}

.container{
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.logo-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}


.book-section{
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 10px 8px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: smaller;
  text-decoration: none;
}

.booking-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  padding: 2px;
}

.header-mid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.header-mid :first-child{
  font-weight: bold;
  font-size: 3rem;
}

.header-mid :last-child{
  font-weight: bold;
  font-size: 2rem;
}

.booking{
  background-color: white;
  border-radius: 12px;
}

.booking-option{
  padding: 12px 2px 12px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.option-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid rgba(4, 14, 59, 0.473);
  border-radius: 16px;
  line-height: 0;
  padding: 0 1rem 0 1rem;
}

.active-option{
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid rgba(4, 14, 59, 0.473);
  border-radius: 16px;
  line-height: 0;
  padding: 0 1rem 0 1rem;
}

.booking-items{
  background-color: rgba(192, 255, 245, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0 1rem 0;
}

.attribute-name{
  line-height: 0;
  font-size: smaller;
  color: rgb(77, 76, 76);
}

.title{
  line-height: 0;
}

.hotel-attribute{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.attribute{
  font-size: medium;
  color: rgb(77, 76, 76);
}

input{
  border: none;
  border-bottom: 1px solid rgba(4, 14, 59, 0.473);
  padding: 8px 0 8px 0;
  width: 12rem;
}

.search-button{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-size: medium;
  cursor: pointer;
}


.hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-top: 4rem;
}

.hero-start{
  border: 1px solid rgba(58, 58, 58, 0.938) ;
  border-radius: 25px;
  display: flex;
  font-size: smaller;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.hero-info{
  text-align: center;
  font-size: large;
}

.hero-cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  justify-content: center;
  align-items: center;
}

.card-text{
  font-size: small;
  text-align: center;
  border: 1px solid rgba(58, 58, 58, 0.938) ;
  border-radius: 25px;
  padding: 8px;
}

.learn-more{
  margin-top: 4rem;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: smaller;
  color: white;
  cursor: pointer;
  padding: 8px 0 8px 0;
  gap: 8px;
  border-radius: 25px;
}

.hero-card-middle{
  height: 260px;
  margin: 0 auto;
  background-image: url('/assets/room.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.hero-card-background{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.486);
}

.card-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 4px 8px 4px;
  justify-content: space-between;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.card-info{
  font-size: small;
  color: rgba(255, 255, 255, 0.774);
  text-align: center;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.774);
  border-radius: 25px;
}

.more-info{
  font-size: smaller;
  color: rgba(255, 255, 255, 0.774);
  text-align: start;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.card-footer-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 25px;
}

.location-logo{
  padding: 4px;
  background-color: rgb(179, 189, 245);
  border-radius: 100%;
}

.logo{
  width: 12px;
  height: 12px;
}

.location-title{
  font-size: x-small;
}

.slider-container{
  width: 80%;
  height: 200px;
  margin: 0 auto;
}

.slider-card-middle{
  height: 180px;
  margin: 0 auto;
  background-image: url('/assets/room.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.slider-card-background{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.486);
}

.slider-text{
  font-size: small;
  color: rgba(255, 255, 255, 0.774);
  text-align: center;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.774);
  border-radius: 25px;
  width: 100%;
}

.slider-slick .slick-dots{
  display: none !important;
}

.slider-card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 4px 8px 4px 8px;
  border-radius: 25px;
}

.slider-footer-text{
  font-size: x-small;
  color: rgba(5, 5, 5, 0.596);
  font-weight: bold;
}

.slider-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.buttons{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 100%;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.buttons:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slider-buttons :last-child{
  transform: rotate(180deg);
}

.divider{
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.644);
  margin: 4rem auto;
}

.middle-content{
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  gap: 4rem;
  justify-content: center;
  align-items: end;
  margin-top: 10px;
}

.left-section-content{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sunlogo{
  background-color: rgba(255, 223, 107, 0.774);
  padding: 6px;
  border-radius: 100%;
}

.middle-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.middle-card{
  border: 1px solid rgba(58, 58, 58, 0.555) ;
  border-radius: 25px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.middle-card-title{
  font-size: smaller;
  line-height: 0;
}

.active-card{
  background-color: blue;
  color: rgba(255, 255, 255, 0.815);
  border-radius: 25px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.middle-slider{
  background-color: blue;
  border-radius: 25px;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.slider-start{
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0,1fr));
  justify-content: center;
  align-items: center;
}

.midImage{
  width: 90%;
  background-position: center;
  background-size: cover;
}

.midPic{
  width: 100%;
  height: 280px;
  border-radius: 25px;
}

.mid-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 12px; 
  word-spacing: 4px;
}

.mid-info p{
  font-size: 11px;
  color: rgba(255, 255, 255, 0.808);
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.74);
  padding: 4px 8px 4px 8px;
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.774);
  font-size: x-small;
}

.mid-slider-buttons{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.right-header{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.right-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-right{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPic{
  width: 75%;
  height: 200px;
  border-radius: 25px;
  object-fit: cover;
}

.plus-icon{
  width: 60px;
  position: absolute;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-size: larger;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-footer-image{
  width: 20px;
}

.right-footer-text{
  font-size: small;
  color: rgba(5, 5, 5, 0.596);
}

.hotel-section{
  margin-top: 4rem;
  background-color: rgba(240, 240, 240, 0.5);
}

.hotel-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hotel-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-text{
  padding: 4px 8px 4px 8px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  cursor: pointer;
  font-size: smaller;
}

.search-bar{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-more{
  width: 100%;
  position: relative;
  padding: 10px 32px 10px 8px;
  border: none;
  border-radius: 25px;
}

.search-icon{
  position: absolute;
  right: 12%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.hotel-slider-container{
  width: 100%;
  margin: 0 auto;
}

.cards-content{
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hotel-card-image{
  background-size: cover;
  object-fit: cover;
}

.image-size{
  width: 100%;
}

.card-logo{
  position: absolute;
  top: 4%;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.384);
  padding: 10px;
  border-radius: 100%;
}

.card-price{
  position: absolute;
  top: 4%;
  right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.623);
  padding: 8px;
  border-radius: 25px;
  color: rgb(252, 252, 252);
  font-size: small;
  font-weight: 600;
  backdrop-filter: blur(2px);
}

.hotel-card-footer{
  width: 80%;
  position: absolute;
  bottom: 12px;
  left: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.432);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  color: white;
  padding: 12px;
}

.footer-btn{
  width: 50%;
  border: 1px solid white;
  padding: 8px;
  border-radius: 25px;
  font-size: x-small;
}

.hotel-footer-logo{
  background-color: white;
  padding: 10px;
  border-radius: 100%;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.card-footer-info{
  font-size: small;
  color: gray;
}

.discover-title{
  font-size: small;
  font-weight: 200;
}

.discover-mid{
  margin-top: 1rem;
  height: 240px;
  display: flex;
}

.img-cont1{
  display: flex;
  justify-content: end;
  align-items: center;
}

.img-cont2{
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.img-cont3{
  display: flex;
  justify-content: center;
  align-items: end;
}

.disc-img{
  width: 80%;
}

.contact-card{
  background-color: blue;
  color: white;
  padding: 1rem;
  border-radius: 25px;
}

.contact-card-info{
  display: flex;
  border: 1px solid white;
  padding: 4px;
  border-radius: 25px;
  justify-content: center;
  gap: 4px;
}

.img-cont5{
  display: flex;
  justify-content: end;
  align-items: end;
}

.img-cont6{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  margin-top: 1rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 50%; 
  border-bottom-right-radius: 50%; 
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.info-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-title{
  font-size: x-small;
}

.footer-section{
  background-image: url('/assets/footer.png');
  background-position: center;
  background-size: cover;
}

.footer-back{
  background-color: rgba(0, 0, 0, 0.473);
}

.company{
  color: white;
  font-size: 9.5rem;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 6rem;
  font-weight: 700;
}

.company-title{
  position: relative;
  display: flex;
  flex-direction: column;
}

.company-img{
  width: 160px;
  height: 160px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 10rem;
}

.right-image{
  position: absolute;
  bottom: 0;
  right: 7.5%;
}

.company-img2{
  width: 160px;
  height: 160px;
}

.btm-footer{
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: x-small;
  text-align: center;
}

.help{
  display: flex;
  align-items: end;
}

.contact ,.contact-item{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
}

.img-border{
  border: 1px solid white;
  padding: 2px;
  border-radius: 100%;
}

.footer-img{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 567px){
  .hero-cards{
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 4px;
  }
}

@media (min-width: 568px) and (max-width: 1024px){
  .hero-cards{
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 4px;
  }
}

@media (min-width: 274px) and (max-width: 1024px){
  .booking-option{
    gap: 1rem;
  }


  .hero-card-middle, .slider-container{
    width: 100%;
  }

  .middle-content{
    grid-template-columns: repeat(1, minmax(0,1fr));
  }

  .company{
      font-size: 4rem;
  }

  .mid-info p{
    font-size: small;
  }

  .search-bar{
    width: 100%;
    margin-bottom: 1rem;
  }

  .card-footer-info{
    width: 50%;
    font-size: x-small;
  }

  .company-img{
    width: 80px;
    height: 80px;
  }
  .company-img2{
    width: 80px;
    height: 80px;
  }

  .btm-footer{
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
