/* .dash-nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
}

.dash-logo{
    width: 10%;
}

.dash-content{
    display: flex;
    font-size: 12px;
    gap: 10px;
    color: rgb(9, 9, 105);
    font-weight: 600;
}

.dash-content p{
    cursor: pointer;
}

.logo-img{
    width: 100%;
}

.dash-contact{
    background-color: rgb(56, 149, 185);
    margin: 4px 0 8px 0;
    border-radius: 25px;
    padding: 0 12px 0 12px;
    font-size: small;
    color: white;
    font-weight: 600;
}

.dash-main{
    width: 100vw;
}

.overview{
    display: flex;
    padding: 1rem 0 1rem 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.o-heading{
    font-size: 2rem;
    color: rgb(24, 24, 128);
    font-weight: 600;
}

.o-text{
    width: 50%;
    font-size: x-small;
}

.enquire{
    width: 50%;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    text-align: center;
    color: blue;
}

.dash-img{
    width: 50%;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.o-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p-head{
    color: rgb(24, 24, 128);
    font-size: larger;
    font-weight: 600;
}

.p-subhead{
    color: rgb(24, 24, 128);
    font-size: small;
    font-weight: 400;
}

.o-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.config{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.config-text{
    font-size:small;
    color: rgb(61, 61, 61);
}

.config-img{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.con-img-container{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.config-card{
    width: 25%;
}

.con-img{
    width: 100%;
    height: 400px;
}

.config-info{
    background-color: rgb(16, 16, 117);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1rem 8px 1rem;
}

.config-tiltle{
    display: flex;
    flex-direction: column;
}

.config-tiltle :first-child{
    font-size: x-large;
    font-weight: 600;
}

.config-tiltle :nth-child(2){
    font-size: small;
}

.config-btn{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 4px;
} */