.s-slide-start{
    max-width: 100vw;
    margin: 2rem;
    background-color: rgb(2, 59, 47);
    /* clip-path: inset(0); */
    overflow: hidden;
}

.s-items{
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    position: relative;
    align-items: flex-start;
}

.s-left{
    width: 40%;
    position: sticky;
    top: 16%;
    height: fit-content;
    color: white;
}

.stack-wrapper {
  width: 100%;
  height: 200vh;
}

.card {
  /* position: relative; */
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.stack-card {
  transform: translateX(50%);
  will-change: transform;
}

.stack-card.revealed {
  transform: translateX(0);
}

@keyframes fadeInSlide {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
