.s-slide-start{
    max-width: 100vw;
    margin: 2rem;
    background-color: rgb(2, 59, 47);
    /* clip-path: inset(0); */
    overflow: hidden;
}

.s-items{
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    position: relative;
    align-items: flex-start;
}

.s-left{
    width: 40%;
    position: sticky;
    top: 16%;
    height: fit-content;
    color: white;
}

.more-btn{
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    overflow: hidden;
}

.more-logo{
  background-color: white;
  border-radius: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-btn:hover {
  /* .more-title{
    transform: translateY(-30px);
    transition: transform 0.3s ease-in-out;
  } */
  .more-img{
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
  }
}

.stack-wrapper {
  width: 100%;
  height: 200vh;
}

.s-slider-img{
  background-color: white;
  border-radius: 100%;
  width: 50%;
  padding: 8px;
}

.s-img{
  width: 100%;
}
.card {
  /* position: relative; */
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  width: 100%;
  margin-bottom: 40px;
  box-sizing: border-box;
  border: 1px dashed rgb(75, 75, 75);
  .s-img{
    transform: rotateY(0deg);
    transition: transform 1s ease-in-out;
  }
}

.card:hover {
  cursor: pointer;
  background-color: rgba(2, 59, 47, 0.589);
  filter: brightness(1.2);
  .s-img{
    transform: rotateY(360deg);
    transition: transform 1s ease-in-out;
  }
}

.stack-card {
  transform: translateX(50%);
  will-change: transform;
}

.stack-card.revealed {
  transform: translateX(0);
}

@keyframes fadeInSlide {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}


.scroll-percent{
  position: fixed;
  width: 4rem;
  bottom: 2rem;
  right: 4rem;
}

.scroll-btn{
  width: 100%;
  background-color: white;
  border-radius: 100%;
  border: none;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn-inner {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.up-img{
  width: 100%;
}